<header>
    <a href=""><img src="/assets/logo-mobile-2.png" alt="" width="105px" height="32px"></a>
    <div class="header-icons">
        <a href=""><i class="fa-solid fa-lg fa-bell"></i></a>
        <a href=""><i class="fa-solid fa-lg fa-circle-info"></i></a>
    </div>
</header>