<nav>
    <a href="" class="nav-icon selected">
        <i class="fa-solid fa-lg fa-house"></i>
        <p>Home</p>
    </a>
    <a href="" class="nav-icon">
        <i class="fa-solid fa-lg fa-key"></i>
        <p>Access Control</p>
    </a>
    <a href="" class="nav-icon">
        <i class="fa-solid fa-lg fa-file"></i>
        <p>Reports</p>
    </a>
    <a href="" class="nav-icon">
        <i class="fa-solid fa-lg fa-user"></i>
        <p>Profile</p>
    </a>
</nav>