<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="header">
            <i class="fa-solid fa-2xl fa-file-pdf"></i>
            <div>
                <h2>Access Control</h2>
                <p>Berisikan siapa saja yang bisa mengakses aplikasi ini</p>
            </div>
        </section>
        <section class="content">
        </section>
    </main>
    <%- include('./partials/nav.ejs') %>
</body>
</html>