<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="card">
            <h2 class="measurement-title">Safe</h2>
            <p><span class="highlight-num">3 NTU</span> of 50 NTU</p>
            <p>47 NTU LEFT</p>
        </div>
        <div>
            <div class="card">
                <div>
                    <h2 class="measurement-title">Turbidity</h2>
                    <p><span class="highlight-num">3 NTU</span> of 50 NTU</p>
                </div>
                <div></div>
            </div>
            <div class="card">
                <div>
                    <h2 class="measurement-title">PH Meter</h2>
                    <p><span class="highlight-num">3 NTU</span> of 50 NTU</p>
                </div>
                <div></div>
            </div>
        </div>
        <div class="card">
            <h2 class="measurement-title">Chart</h2>
            <p><span class="highlight-num">3 NTU</span> of 50 NTU</p>
        </div>
    </main>
    <%- include('./partials/nav.ejs') %>
</body>
</html>