<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div>
            <div></div>
            <h2>Alvin Yoga Kesuma</h2>
            <p>Kepala Bagian</p>
        </div>
        <form action="">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your email here...">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password here...">
            <input type="submit" value="Ubah Profil" id="ubahProfil">
        </form>
    </main>
    <%- include('./partials/nav.ejs') %>
</body>
</html>