<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="header">
            <i class="fa-solid fa-2xl fa-file-pdf"></i>
            <div>
                <h2>Report</h2>
                <p>Berisi Laporan - laporan mengenai kekeruhan dan PH air</p>
            </div>
        </section>
        <section class="content">
            <div class="card">
                <h2 class="measurement-title">Safe</h2>
                <p><span class="highlight-num">3 NTU</span> of 50 NTU</p>
                <p>47 NTU LEFT</p>
            </div>
            <div class="card">
                <h2 class="measurement-title">Safe</h2>
                <p><span class="highlight-num">3 NTU</span> of 50 NTU</p>
                <p>47 NTU LEFT</p>
            </div>
        </section>
    </main>
    <%- include('./partials/nav.ejs') %>
</body>
</html>